body {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0px;
	background: #f7f5f2;
}

#background{
	height:auto;
	width:100%;
	text-align: center;
}

#navigation{
	background: #508F79;
	position: fixed;
	width: 100%;
}

#navigation-text{
	color: #D5DEDB;
	float: right;
	margin-right: 15px;
	padding: 20px;
}

#circle{
	background: #508F79;
	border-radius: 50%;
	z-index: 100;
	width:100px;
	height: 100px;
	padding: 100px;
	position: absolute;
	margin: 100px

}

#search-box{
	background: #D5DEDB;
	border-radius: 1px;
	height: 25px;
	width: 150px;
	text-align: center;
}

#search-text{

	text-align: center;
}
